@import '../../style/variables.scss';

.char {
    &__info {
        padding: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 5;
        background-color: #fff;
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }
        .skeleton {
            margin-top: 30px;
        }
    }
    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &__btns {
        margin-top: 35px;
        a:nth-child(2) {
            margin-top: 10px;
        }
    }
    &__descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    &__comics {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px;
        &-list {
            position: relative;
            margin-top: 10px;
        }
        &-item {
            width: 100%;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
        }
    }
    &__select {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

}
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 280px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #9F0013; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 0 5px 20px #9F0013; /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -6em; /* Положение подсказки */
    right: 3em;
}
